ws-security-username-token/src/main/webapp/WEB-INF/calculator-ut.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
  xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:tns="http://abhijitsarkar.name/webservices/jaxws/security/CalculatorUT/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
  name="CalculatorUTService" targetNamespace="http://abhijitsarkar.name/webservices/jaxws/security/CalculatorUT/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
      xmlns:tns="http://abhijitsarkar.name/webservices/jaxws/security/CalculatorUT/"
      elementFormDefault="unqualified"
      targetNamespace="http://abhijitsarkar.name/webservices/jaxws/security/CalculatorUT/"
      version="1.0">

      <xs:element name="add" type="tns:add" />

      <xs:element name="addResponse" type="tns:addResponse" />

      <xs:complexType name="add">
        <xs:sequence>
          <xs:element name="i" type="xs:int" />
          <xs:element name="j" type="xs:int" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="addResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" />
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
  </wsdl:types>
  <wsdl:message name="add">
    <wsdl:part element="tns:add" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part element="tns:addResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CalculatorUT">
    <wsdl:operation name="add">
      <wsdl:input message="tns:add" name="add">
      </wsdl:input>
      <wsdl:output message="tns:addResponse" name="addResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatorUTServiceSoapBinding" type="tns:CalculatorUT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <!-- Attach policy at operation level -->
    <wsp:PolicyReference URI="#UsernameTokenPolicy" />
    <wsdl:operation name="add">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="add">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorUTService">
    <wsdl:port binding="tns:CalculatorUTServiceSoapBinding" name="CalculatorUT">
      <soap:address
        location="http://localhost:8080/calculator-username-token-service/CalculatorUTService" />
    </wsdl:port>
  </wsdl:service>

  <!-- Policy declaration for username token with plain text password, sent from 
    client to server only. http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0.pdf -->

  <!-- Excellent article, uses Axis for implementation but good talk: http://www.ibm.com/developerworks/java/library/j-jws4/index.html -->
  <wsp:Policy wsu:Id="UsernameTokenPolicy"
    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SupportingTokens>
          <wsp:Policy>
            <sp:UsernameToken
              sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken11 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SupportingTokens>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
</wsdl:definitions>