jax-ws-exception/src/main/resources/xsd/calculator.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
  RI's version is JAX-WS RI 2.2.5-b05 . -->
<xs:schema xmlns:tns="http://exception.jaxws.webservices.abhijitsarkar.name/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
  targetNamespace="http://exception.jaxws.webservices.abhijitsarkar.name/">

  <xs:element name="DivisionByZeroException" nillable="true"
    type="tns:divisionByZero" />

  <xs:element name="divide" type="tns:divide" />

  <xs:element name="divideResponse" type="tns:divideResponse" />

  <xs:element name="multiply" type="tns:multiply" />

  <xs:element name="multiplyResponse" type="tns:multiplyResponse" />

  <xs:complexType name="divide">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
      <xs:element name="arg1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="divideResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="divisionByZero">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="multiply">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
      <xs:element name="arg1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="multiplyResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>