jax-ws-binding/src/main/resources/wsdl/calculator-cf.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:jaxws="http://java.sun.com/xml/ns/jaxws/"
	xmlns:tns="http://abhijitsarkar.name/webservices/jaxws/calculator-cf/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://abhijitsarkar.name/webservices/jaxws/calculator-cf/"
	name="Calculator">
	<types>
		<xsd:schema>
			<xsd:import
				namespace="http://abhijitsarkar.name/webservices/jaxws/calculator-cf/"
				schemaLocation="../xsd/calculator.xsd" />
		</xsd:schema>
	</types>
	<message name="addDefaultBareRequest">
		<part name="parameters" element="tns:addDefaultBareRequest" />
	</message>
	<message name="addResponse">
		<part name="parameters" element="tns:addResponse" />
	</message>
	<message name="subtractDefaultWrapped">
		<part name="parameters" element="tns:subtractDefaultWrapped" />
	</message>
	<message name="subtractResponse">
		<part name="parameters" element="tns:subtractResponse" />
	</message>
	<portType name="Calculator">
		<operation name="addDefaultBare">
			<documentation>
			  <![CDATA[
			    When the operation name, input message name and the
				input message element name don't all match up,
				'bare' parameter style is the used by default.
			  ]]>
			</documentation>
			<input message="tns:addDefaultBareRequest" />
			<output message="tns:addResponse" />
		</operation>
		<!-- When the operation name, input message name and the input message 
			element name all match up, 'wrapped' parameter style is the used by default -->
		<operation name="subtractDefaultWrapped">
			<documentation>
			  <![CDATA[
			    When the operation name, input message name and the input message 
			    element name all match up, 'wrapped' parameter style is the used by default.
			  ]]>
			</documentation>
			<input message="tns:subtractDefaultWrapped" />
			<output message="tns:subtractResponse" />
		</operation>
	</portType>
	<binding name="CalculatorDocumentStyleBinding" type="tns:Calculator">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="addDefaultBare">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="subtractDefaultWrapped">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="CalculatorService">
		<port name="Calculator" binding="tns:CalculatorDocumentStyleBinding">
			<soap:address location="http://localhost:8080/jaxws-bindings/calculator-cf" />
		</port>
	</service>
</definitions>