jax-ws-exception/src/main/resources/wsdl/calculator.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
  RI's version is JAX-WS RI 2.2.5-b05 . --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. 
  RI's version is JAX-WS RI 2.2.5-b05 . -->
<definitions
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
  xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://exception.jaxws.webservices.abhijitsarkar.name/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://exception.jaxws.webservices.abhijitsarkar.name/"
  name="CalculatorService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://exception.jaxws.webservices.abhijitsarkar.name/"
        schemaLocation="../xsd/calculator.xsd" />
    </xsd:schema>
  </types>
  <message name="multiply">
    <part name="parameters" element="tns:multiply" />
  </message>
  <message name="multiplyResponse">
    <part name="parameters" element="tns:multiplyResponse" />
  </message>
  <message name="divide">
    <part name="parameters" element="tns:divide" />
  </message>
  <message name="divideResponse">
    <part name="parameters" element="tns:divideResponse" />
  </message>
  <message name="DivisionByZeroException">
    <part name="fault" element="tns:DivisionByZeroException" />
  </message>
  <portType name="Calculator">
    <operation name="multiply">
      <input
        wsam:Action="http://exception.jaxws.webservices.abhijitsarkar.name/Calculator/multiplyRequest"
        message="tns:multiply" />
      <output
        wsam:Action="http://exception.jaxws.webservices.abhijitsarkar.name/Calculator/multiplyResponse"
        message="tns:multiplyResponse" />
    </operation>
    <operation name="divide">
      <input
        wsam:Action="http://exception.jaxws.webservices.abhijitsarkar.name/Calculator/divideRequest"
        message="tns:divide" />
      <output
        wsam:Action="http://exception.jaxws.webservices.abhijitsarkar.name/Calculator/divideResponse"
        message="tns:divideResponse" />
      <fault message="tns:DivisionByZeroException" name="DivisionByZeroException"
        wsam:Action="http://exception.jaxws.webservices.abhijitsarkar.name/Calculator/divide/Fault/DivisionByZeroException" />
    </operation>
  </portType>
  <binding name="CalculatorPortBinding" type="tns:Calculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
      style="document" />
    <operation name="multiply">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="divide">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="DivisionByZeroException">
        <soap:fault name="DivisionByZeroException" use="literal" />
      </fault>
    </operation>
  </binding>
  <service name="CalculatorService">
    <port name="CalculatorPort" binding="tns:CalculatorPortBinding">
      <soap:address location="http://localhost:8080/jaxws-exception/CalculatorService" />
    </port>
  </service>
</definitions>