jax-ws-addressing/src/main/resources/xsd/calculator-addr.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
  RI's version is JAX-WS RI 2.2.5-b05 . -->
<xs:schema xmlns:tns="http://addressing.jaxws.webservices.abhijitsarkar.name/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
  targetNamespace="http://addressing.jaxws.webservices.abhijitsarkar.name/">

  <xs:element name="add" type="tns:add" />

  <xs:element name="addResponse" type="tns:addResponse" />

  <xs:complexType name="add">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
      <xs:element name="arg1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>