jax-ws-ejb-security/src/main/resources/wsdl/calculator-ejb.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ejb.security.jaxws.webservices.abhijitsarkar.name/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
  name="CalculatorEJBService" targetNamespace="http://ejb.security.jaxws.webservices.abhijitsarkar.name/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
      xmlns:tns="http://ejb.security.jaxws.webservices.abhijitsarkar.name/"
      elementFormDefault="unqualified"
      targetNamespace="http://ejb.security.jaxws.webservices.abhijitsarkar.name/"
      version="1.0">

      <xs:element name="add" type="tns:add" />

      <xs:element name="addResponse" type="tns:addResponse" />

      <xs:complexType name="add">
        <xs:sequence>
          <xs:element name="i" type="xs:int" />
          <xs:element name="j" type="xs:int" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="addResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" />
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
  </wsdl:types>
  <wsdl:message name="addResponse">
    <wsdl:part element="tns:addResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="add">
    <wsdl:part element="tns:add" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CalculatorEJB">
    <wsdl:operation name="add">
      <wsdl:input message="tns:add" name="add">
      </wsdl:input>
      <wsdl:output message="tns:addResponse" name="addResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatorEJBServiceSoapBinding" type="tns:CalculatorEJB">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="add">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorEJBService">
    <wsdl:port binding="tns:CalculatorEJBServiceSoapBinding" name="CalculatorEJBPort">
      <soap:address location="http://localhost:8080/jax-ws-ejb-security/CalculatorEJB" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>